@model Portal.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";

}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="~/icons/favicon.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/signin.css" rel="stylesheet">



@using (Html.BeginForm(new { @class= "text-center form-signin" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <img class="mb-4 text-center" src="~/icons/rnta1.png" alt="" width="72" height="72">
    <h4>LoginModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10" >
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Username" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                <label>@Html.EditorFor(model => model.RememberMe)</label>
                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign In" class="btn btn-danger" />
        </div>
    </div>
</div>
}

